Repository Danatsko/Financial, pull requests merged in 2025-05, with the labels that each got.

#30 feat(frontend): create initial project
  frontend/.gitkeep
  frontend/Financial/Financial.xcodeproj/project.pbxproj
  frontend/Financial/Financial/.gitignore
  frontend/Financial/Financial/Assets.xcassets/AccentColor.colorset/Contents.json
  frontend/Financial/Financial/Assets.xcassets/AppIcon.appiconset/Contents.json
  frontend/Financial/Financial/Assets.xcassets/Contents.json
  frontend/Financial/Financial/ContentView.swift
  frontend/Financial/Financial/FinancialApp.swift
  frontend/Financial/Financial/Preview Content/Preview Assets.xcassets/Contents.json
  frontend/Financial/Financial/README.md
Labels: frontend, feature

#31 feat(frontend): add start view
  frontend/Financial/Financial.xcodeproj/project.pbxproj
  frontend/Financial/Financial.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  frontend/Financial/Financial.xcodeproj/project.xcworkspace/xcuserdata/anatolijganulic.xcuserdatad/UserInterfaceState.xcuserstate
  frontend/Financial/Financial/Assets.xcassets/logo.imageset/Contents.json
  frontend/Financial/Financial/Assets.xcassets/logo.imageset/logo.jpg
  frontend/Financial/Financial/ContentView.swift
  frontend/Financial/Financial/FinancialApp.swift
  frontend/Financial/Financial/Info.plist
  frontend/Financial/Financial/Model/.gitkeep
  frontend/Financial/Financial/Resources/.gitkeep
  frontend/Financial/Financial/Resources/Fonts/Lexend-VariableFont_wght.ttf
  frontend/Financial/Financial/Resources/Fonts/Montserrat-VariableFont_wght.ttf
  frontend/Financial/Financial/View/FNButton.swift
  frontend/Financial/Financial/View/LogoView.swift
  frontend/Financial/Financial/View/StartView.swift
  frontend/Financial/Financial/ViewModel/.gitkeep
Labels: frontend, feature

#32 chore(frontend): stop tracking xcuserdata files
  frontend/Financial/Financial.xcodeproj/project.xcworkspace/xcuserdata/anatolijganulic.xcuserdatad/UserInterfaceState.xcuserstate
Labels: frontend, chore

#34 feat(transactions-server): implement recommendations functionality
  backend/transactions_server/transactions/serializers.py
  backend/transactions_server/transactions/views.py
Labels: backend, feature

#35 feat(gateway-server): implement recommendations functionality
  backend/gateway_server/connections/upstream_clients.py
  backend/gateway_server/transactions/annotations.py
  backend/gateway_server/transactions/models.py
  backend/gateway_server/transactions/routes.py
Labels: backend, feature

#36 feat(frontend): create registration view
  frontend/Financial/Financial.xcodeproj/project.pbxproj
  frontend/Financial/Financial/View/EmailFieldView.swift
  frontend/Financial/Financial/View/OrDividerView.swift
  frontend/Financial/Financial/View/PasswordFieldView.swift
  frontend/Financial/Financial/View/RegistrationView.swift
  frontend/Financial/Financial/ViewModel/RegistrationViewModel.swift
Labels: frontend, feature

#37 feat(frontend): create login view
  frontend/Financial/Financial/View/LoginView.swift
  frontend/Financial/Financial/ViewModel/LoginViewModel.swift
Labels: frontend, feature

#38 feat(frontend): create budget input view
  frontend/Financial/Financial/View/BudgetInputView.swift
  frontend/Financial/Financial/ViewModel/.gitkeep
Labels: frontend, feature

#39 feat(frontend): add start menu navigation
  frontend/Financial/Financial/ContentView.swift
  frontend/Financial/Financial/FinancialApp.swift
  frontend/Financial/Financial/Managers/NavigationStartManager.swift
  frontend/Financial/Financial/Resources/.gitkeep
  frontend/Financial/Financial/View/LoginView.swift
  frontend/Financial/Financial/View/RegistrationView.swift
  frontend/Financial/Financial/View/StartView.swift
Labels: frontend, feature

#40 feat(frontend): add core data
  frontend/Financial/Financial/Model/FinancialData.xcdatamodeld/FinancialData.xcdatamodel/contents
  frontend/Financial/Financial/Model/Goal.swift
  frontend/Financial/Financial/Model/Transaction.swift
  frontend/Financial/Financial/Model/User.swift
Labels: frontend, feature

#41 feat(frontend): add keychain manager
  frontend/Financial/Financial/Managers/KeychainManager.swift
  frontend/Financial/Financial/Model/.gitkeep
Labels: frontend, feature

#43 feat(add): add Core Data manager
  frontend/Financial/Financial/Managers/CoreDataManager.swift
  frontend/Financial/Financial/Services/ApiService.swift
  frontend/Financial/Financial/View/StartView.swift
Labels: frontend, feature

#44 feat(frontend): add main view
  frontend/Financial/Financial/View/CreateTransactionView.swift
  frontend/Financial/Financial/View/GoalsView.swift
  frontend/Financial/Financial/View/MainView.swift
  frontend/Financial/Financial/View/ProfileView.swift
  frontend/Financial/Financial/View/StatisticsView.swift
  frontend/Financial/Financial/View/TransactionListView.swift
Labels: frontend, feature

#45 feat(frontend): add app state
  frontend/Financial/Financial/FinancialApp.swift
  frontend/Financial/Financial/View/MainView.swift
Labels: frontend, feature

#46 feat(frontend): adding functionality in transaction list view
  frontend/Financial/Financial/View/TransactionListView.swift
  frontend/Financial/Financial/View/TransactionListViewContent.swift
Labels: frontend, feature

#47 feat(frontend): add transaction detail view
  frontend/Financial/Financial/View/TransactionDetailRowView.swift
  frontend/Financial/Financial/View/TransactionDetailView.swift
  frontend/Financial/Financial/ViewModel/TransactionDetailViewModel.swift
Labels: frontend, feature

#48 feat(frontend): add transaction edit view
  frontend/Financial/Financial/View/CurrencyFieldView.swift
  frontend/Financial/Financial/View/SwipeToConfirmView.swift
  frontend/Financial/Financial/View/TransactionEditView.swift
  frontend/Financial/Financial/ViewModel/TransactionEditViewModel.swift
Labels: frontend, feature

#49 feat(frontend): add navigation in transaction list view
  frontend/Financial/Financial/View/TransactionDetailView.swift
  frontend/Financial/Financial/View/TransactionEditView.swift
  frontend/Financial/Financial/View/TransactionListView.swift
Labels: frontend, feature

#51 feat(frontend): add Navigation Stack in Start View
  frontend/Financial/Financial/View/StartView.swift
Labels: frontend, feature

#52 feat(frontend): add statistics view
  frontend/Financial/Financial/Enums/AppCategoryTypeEnum.swift
  frontend/Financial/Financial/Managers/NavigationStatisticsManager.swift
  frontend/Financial/Financial/View/CategoryStatistics.swift
  frontend/Financial/Financial/View/CircularProgressView.swift
  frontend/Financial/Financial/View/PeriodPicker/DayPickerView.swift
  frontend/Financial/Financial/View/PeriodPicker/MonthPickerView.swift
  frontend/Financial/Financial/View/PeriodPicker/WeekPickerView.swift
  frontend/Financial/Financial/View/PeriodPicker/YearPickerView.swift
  frontend/Financial/Financial/View/StartView.swift
  frontend/Financial/Financial/View/StatisticsCharts.swift
  frontend/Financial/Financial/View/StatisticsView.swift
  frontend/Financial/Financial/View/TypeButtonsViewStatistics.swift
  frontend/Financial/Financial/ViewModel/StatisticsViewModel.swift
Labels: frontend, feature

#53 feat(frontend): add CreateTransaction View
  frontend/Financial/Financial/View/CreateTransactionView.swift
  frontend/Financial/Financial/View/TypeButtonsViewNewTransaction.swift
  frontend/Financial/Financial/ViewModel/CreateTransactionViewModel.swift
Labels: frontend, feature

#54 feat(frontend): add goals view
  frontend/Financial/Financial/View/GoalsView.swift
  frontend/Financial/Financial/View/ProgressGoalView.swift
  frontend/Financial/Financial/ViewModel/GoalsViewModel.swift
Labels: frontend, feature

#55 feat(frontend): add profile view
  frontend/Financial/Financial/View/EditingProfileView.swift
  frontend/Financial/Financial/View/HelpView.swift
  frontend/Financial/Financial/View/ProfileView.swift
  frontend/Financial/Financial/View/SettingsView.swift
  frontend/Financial/Financial/ViewModel/EditingProfileViewModel.swift
  frontend/Financial/Financial/ViewModel/ProfileViewModel.swift
Labels: frontend, feature

#56 feat(frontend): add user defaults
  frontend/Financial/Financial/Managers/UserDefalutsManager.swift
  frontend/Financial/Financial/View/EditingProfileView.swift
  frontend/Financial/Financial/View/ProfileView.swift
  frontend/Financial/Financial/ViewModel/EditingProfileViewModel.swift
  frontend/Financial/Financial/ViewModel/ProfileViewModel.swift
Labels: frontend, feature

#57 feat(frontend): setup app state
  frontend/Financial/Financial/View/BudgetInputView.swift
  frontend/Financial/Financial/View/LoginView.swift
  frontend/Financial/Financial/View/StartView.swift
  frontend/Financial/Financial/ViewModel/LoginViewModel.swift
  frontend/Financial/Financial/ViewModel/RegistrationViewModel.swift
Labels: frontend, feature

#58 fix(frontend): core data relationship
  frontend/Financial/Financial/Model/FinancialData.xcdatamodeld/FinancialData.xcdatamodel/contents
Labels: frontend, fix

#59 fix(frontend): correct delete rule in core data relationship
  frontend/Financial/Financial/Model/FinancialData.xcdatamodeld/FinancialData.xcdatamodel/contents
Labels: frontend, fix

#60 feat(users-server): implement social authentication
  backend/users_server/requirements.txt
  backend/users_server/server/settings.py
  backend/users_server/server/urls.py
  backend/users_server/users/signals.py
  backend/users_server/users/views.py
Labels: backend, feature

#63 refactor(gateway-server): update connect to Redis using URL
  backend/gateway_server/app.py
  backend/gateway_server/connections/redis_clients.py
  backend/gateway_server/connections/redis_connection_managers.py
  backend/gateway_server/settings.py
Labels: backend, refactor

#65 refactor(transactions-server): improve TransactionsViewSet queryset logic and validation
  backend/transactions_server/transactions/serializers.py
  backend/transactions_server/transactions/views.py
Labels: backend, refactor

#66 refactor(gateway-server): update upstream clients
  backend/gateway_server/connections/upstream_clients.py
  backend/gateway_server/transactions/routes.py
Labels: backend, refactor

#67 feat(frontend): enhance statistics
  frontend/Financial/Financial/Services/ApiService.swift
  frontend/Financial/Financial/View/CategoryStatistics.swift
  frontend/Financial/Financial/View/CategoryTransactionsSheetView.swift
  frontend/Financial/Financial/View/StatisticsView.swift
  frontend/Financial/Financial/ViewModel/StatisticsViewModel.swift
Labels: frontend, feature

#68 feat(frontend): enhance recommendations
  frontend/Financial/Financial.xcodeproj/project.pbxproj
  frontend/Financial/Financial.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  frontend/Financial/Financial/README.md
  frontend/Financial/Financial/Services/ApiService.swift
  frontend/Financial/Financial/View/RecommendationsView.swift
  frontend/Financial/Financial/ViewModel/RecommendationsViewModel.swift
Labels: frontend, feature

#69 ci: configure workflow for building Docker images
  .github/workflows/docker-image-gateway-server.yml
  .github/workflows/docker-image-transactions-server.yml
  .github/workflows/docker-image-users-server.yml
Labels: ci

#70 feat(frontend): add localization
  frontend/Financial/Financial.xcodeproj/project.pbxproj
  frontend/Financial/Financial/Enums/AppCategoryTypeEnum.swift
  frontend/Financial/Financial/Financial Localizations/en.xcloc/Localized Contents/Financial/Assets.xcassets/Colors/Contents.json
  frontend/Financial/Financial/Financial Localizations/en.xcloc/Localized Contents/Financial/Assets.xcassets/Colors/TextFieldBackround.colorset/Contents.json
  frontend/Financial/Financial/Financial Localizations/en.xcloc/Localized Contents/Financial/Assets.xcassets/Contents.json
  frontend/Financial/Financial/Financial Localizations/en.xcloc/Localized Contents/en.xliff
  frontend/Financial/Financial/Financial Localizations/en.xcloc/Source Contents/Financial/Assets.xcassets/Colors/Contents.json
  frontend/Financial/Financial/Financial Localizations/en.xcloc/Source Contents/Financial/Assets.xcassets/Colors/TextFieldBackround.colorset/Contents.json
  frontend/Financial/Financial/Financial Localizations/en.xcloc/Source Contents/Financial/Assets.xcassets/Contents.json
  frontend/Financial/Financial/Financial Localizations/en.xcloc/Source Contents/Financial/InfoPlist.xcstrings
  frontend/Financial/Financial/Financial Localizations/en.xcloc/Source Contents/Financial/Localizable.xcstrings
  frontend/Financial/Financial/Financial Localizations/en.xcloc/contents.json
  frontend/Financial/Financial/Financial Localizations/uk.xcloc/Localized Contents/Financial/Assets.xcassets/Colors/Contents.json
  frontend/Financial/Financial/Financial Localizations/uk.xcloc/Localized Contents/Financial/Assets.xcassets/Colors/TextFieldBackround.colorset/Contents.json
  frontend/Financial/Financial/Financial Localizations/uk.xcloc/Localized Contents/Financial/Assets.xcassets/Contents.json
  frontend/Financial/Financial/Financial Localizations/uk.xcloc/Localized Contents/uk.xliff
  frontend/Financial/Financial/Financial Localizations/uk.xcloc/Source Contents/Financial/Assets.xcassets/Colors/Contents.json
  frontend/Financial/Financial/Financial Localizations/uk.xcloc/Source Contents/Financial/Assets.xcassets/Colors/TextFieldBackround.colorset/Contents.json
  frontend/Financial/Financial/Financial Localizations/uk.xcloc/Source Contents/Financial/Assets.xcassets/Contents.json
  frontend/Financial/Financial/Financial Localizations/uk.xcloc/Source Contents/Financial/InfoPlist.xcstrings
  frontend/Financial/Financial/Financial Localizations/uk.xcloc/Source Contents/Financial/Localizable.xcstrings
  frontend/Financial/Financial/Financial Localizations/uk.xcloc/contents.json
  frontend/Financial/Financial/Localizable.xcstrings
  frontend/Financial/Financial/View/CreateTransactionView.swift
  frontend/Financial/Financial/View/FNButton.swift
  frontend/Financial/Financial/View/MessageBubble.swift
  frontend/Financial/Financial/View/PeriodPicker/DayPickerView.swift
  frontend/Financial/Financial/View/PeriodPicker/MonthPickerView.swift
  frontend/Financial/Financial/View/PeriodPicker/WeekPickerView.swift
  frontend/Financial/Financial/View/ProfileView.swift
  frontend/Financial/Financial/View/ProgressGoalView.swift
  frontend/Financial/Financial/View/RecommendationsView.swift
  frontend/Financial/Financial/View/StatisticsView.swift
  frontend/Financial/Financial/View/TypeButtonsViewNewTransaction.swift
  frontend/Financial/Financial/View/TypeButtonsViewStatistics.swift
  frontend/Financial/Financial/ViewModel/RecommendationsViewModel.swift
  frontend/Financial/Financial/ViewModel/StatisticsViewModel.swift
Labels: frontend, feature

#71 feat(frontend): add statistics pdf reports
  frontend/Financial/Financial/Assets.xcassets/AppIcon.appiconset/Contents.json
  frontend/Financial/Financial/Assets.xcassets/AppIcon.appiconset/logo-2.jpg
  frontend/Financial/Financial/FinancialApp.swift
  frontend/Financial/Financial/Localizable.xcstrings
  frontend/Financial/Financial/Managers/KeychainManager.swift
  frontend/Financial/Financial/Managers/LanguageManager.swift
  frontend/Financial/Financial/Services/ApiService.swift
  frontend/Financial/Financial/Services/NetworkService.swift
  frontend/Financial/Financial/Services/TokenRefresher.swift
  frontend/Financial/Financial/View/CreateTransactionView.swift
  frontend/Financial/Financial/View/EditingProfileView.swift
  frontend/Financial/Financial/View/EmailFieldView.swift
  frontend/Financial/Financial/View/LoginView.swift
  frontend/Financial/Financial/View/OrDividerView.swift
  frontend/Financial/Financial/View/PasswordFieldView.swift
  frontend/Financial/Financial/View/ProfileView.swift
  frontend/Financial/Financial/View/RegistrationView.swift
  frontend/Financial/Financial/View/SettingsView.swift
  frontend/Financial/Financial/View/StatisticsPDFView.swift
  frontend/Financial/Financial/View/StatisticsView.swift
  frontend/Financial/Financial/View/TransactionDetailRowView.swift
  frontend/Financial/Financial/View/TransactionDetailView.swift
  frontend/Financial/Financial/View/TransactionEditView.swift
  frontend/Financial/Financial/View/TransactionListViewContent.swift
  frontend/Financial/Financial/ViewModel/CreateTransactionViewModel.swift
  frontend/Financial/Financial/ViewModel/LoginViewModel.swift
  frontend/Financial/Financial/ViewModel/ProfileViewModel.swift
  frontend/Financial/Financial/ViewModel/StatisticsViewModel.swift
  frontend/Financial/Financial/ViewModel/TransactionEditViewModel.swift
Labels: frontend, feature

#73 refactor(frontend): organize views viewmodels
  frontend/Financial/Financial/View/Authentication/BudgetInputView.swift
  frontend/Financial/Financial/View/Authentication/EmailFieldView.swift
  frontend/Financial/Financial/View/Authentication/FNButton.swift
  frontend/Financial/Financial/View/Authentication/LoginView.swift
  frontend/Financial/Financial/View/Authentication/LogoView.swift
  frontend/Financial/Financial/View/Authentication/PasswordFieldView.swift
  frontend/Financial/Financial/View/Authentication/RegistrationView.swift
  frontend/Financial/Financial/View/Authentication/StartView.swift
  frontend/Financial/Financial/View/CreateTransaction/CreateTransactionView.swift
  frontend/Financial/Financial/View/CreateTransaction/CurrencyFieldView.swift
  frontend/Financial/Financial/View/CreateTransaction/SwipeToConfirmView.swift
  frontend/Financial/Financial/View/CreateTransaction/TypeButtonsViewNewTransaction.swift
  frontend/Financial/Financial/View/Goals/GoalsView.swift
  frontend/Financial/Financial/View/Goals/ProgressGoalView.swift
  frontend/Financial/Financial/View/Main/MainView.swift
  frontend/Financial/Financial/View/Profile/BudgetFieldView.swift
  frontend/Financial/Financial/View/Profile/EditingProfileView.swift
  frontend/Financial/Financial/View/Profile/HelpView.swift
  frontend/Financial/Financial/View/Profile/MessageBubble.swift
  frontend/Financial/Financial/View/Profile/ProfileView.swift
  frontend/Financial/Financial/View/Profile/RecommendationsView.swift
  frontend/Financial/Financial/View/Profile/SettingsView.swift
  frontend/Financial/Financial/View/Statistics/CategoryStatistics.swift
  frontend/Financial/Financial/View/Statistics/CategoryTransactionsSheetView.swift
  frontend/Financial/Financial/View/Statistics/CircularProgressView.swift
  frontend/Financial/Financial/View/Statistics/PeriodPicker/DayPickerView.swift
  frontend/Financial/Financial/View/Statistics/PeriodPicker/MonthPickerView.swift
  frontend/Financial/Financial/View/Statistics/PeriodPicker/WeekPickerView.swift
  frontend/Financial/Financial/View/Statistics/PeriodPicker/YearPickerView.swift
  frontend/Financial/Financial/View/Statistics/StatisticsCharts.swift
  frontend/Financial/Financial/View/Statistics/StatisticsPDFView.swift
  frontend/Financial/Financial/View/Statistics/StatisticsView.swift
  frontend/Financial/Financial/View/Statistics/TypeButtonsViewStatistics.swift
  frontend/Financial/Financial/View/Transactions/TransactionDetailRowView.swift
  frontend/Financial/Financial/View/Transactions/TransactionDetailView.swift
  frontend/Financial/Financial/View/Transactions/TransactionEditView.swift
  frontend/Financial/Financial/View/Transactions/TransactionListView.swift
  frontend/Financial/Financial/View/Transactions/TransactionListViewContent.swift
  frontend/Financial/Financial/ViewModel/Authentication/LoginViewModel.swift
  frontend/Financial/Financial/ViewModel/Authentication/RegistrationViewModel.swift
  frontend/Financial/Financial/ViewModel/Goals/GoalsViewModel.swift
  frontend/Financial/Financial/ViewModel/Profile/EditingProfileViewModel.swift
  frontend/Financial/Financial/ViewModel/Profile/ProfileViewModel.swift
  frontend/Financial/Financial/ViewModel/Profile/RecommendationsViewModel.swift
  frontend/Financial/Financial/ViewModel/Statistics/StatisticsViewModel.swift
  frontend/Financial/Financial/ViewModel/Transactions/CreateTransactionViewModel.swift
  frontend/Financial/Financial/ViewModel/Transactions/TransactionDetailViewModel.swift
  frontend/Financial/Financial/ViewModel/Transactions/TransactionEditViewModel.swift
Labels: frontend, refactor
